@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

/* Loading Animation */

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

/* About Image Fade Animation */

@keyframes imageFade {
  0% {
    opacity: 0;
    transform: scale(1.08);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.98;
    transform: scale(1);
  }
}

.animate-imageFade {
  animation: imageFade 3s ease-in-out;
}
